apendice_TDC.aux
capitulo_correlaciones.aux
capitulo_espectroscopia.aux
conclusiones.aux
introduccion.aux
main.aux
main.bbl
main.blg
main.lof
main.log
main.lot
main.out
main.synctex.gz
main.toc
portada.aux
resumen.aux
